<div class="mt-60">
    <div class="my-auto text-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="mx-auto h-10 w-10 text-gray-400">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <h3 class="mt-2 text-base font-semibold text-gray-900">No matching logs found</h3>
        <p class="mt-1 text-sm text-gray-500">Try adjusting your search filters or broadening the timeframe of the query.</p>
    </div>
</div>
