{% extends 'app/index.html' %}
{% block title %}
Settings · Loghog
{% endblock title %}
{% block content %}
<div id="projects" class="h-screen flex flex-col">
  <div class="sticky z-50 top-0 left-60 right-0 flex justify-between items-center border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Settings</h3>
  </div>
  {% if messages %}
    {% for message in messages %}
        {% include "app/_messages.html" %}
    {% endfor %}
{% endif %}
  <div class="overflow-auto px-6 py-8">
<form method="POST" action="/settings">
  {% csrf_token %}
  <div class="space-y-12">
    <div class="pb-4 max-w-3xl">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Account Information</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">Manage your basic account settings.</p>
      <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-4">
        <div class="sm:col-span-2">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
          <div class="mt-2">
            <input type="text" name="first-name" value="{{user.first_name}}" id="first-name" autocomplete="given-name" class="flex w-full px-3 py-2 text-sm bg-white border rounded-md border-gray-200 ring-offset-background placeholder:text-neutral-500 focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
          <div class="mt-2">
            <input type="text" name="last-name" value="{{user.last_name}}" id="last-name" autocomplete="family-name" class="flex w-full px-3 py-2 text-sm bg-white border rounded-md border-gray-200 ring-offset-background placeholder:text-neutral-500 focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            <input id="email" name="email" value="{{user.email}}" type="email" autocomplete="email" class="flex w-full px-3 py-2 text-sm bg-white border rounded-md border-gray-200 ring-offset-background placeholder:text-neutral-500 focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-6 flex items-center justify-start gap-x-6">
    <button type="submit" class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors border rounded-md focus:outline-none focus:ring-2 focus:ring-neutral-100 focus:ring-offset-2">Save</button>
  </div>
</form>
<div class="mt-8 space-y-12">
  <div class="max-w-3xl">
    <h2 class="text-base font-semibold leading-7 text-gray-900">API Tokens</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Create and delete API tokens.</p>
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-4">
      <div class="sm:col-span-3">
        <div class="mt-2 flex flex-row h-9 space-x-2">
        {% for token in tokens %}
          <div
            class="flex w-fit px-3 py-2 text-sm bg-white border rounded-md border-gray-200">
            <span class="flex items-center pr-3 text-gray-300-600 sm:text-sm">{{ token.token.key }}</span>
            <div x-data="{ copyText: '{{ token.token.key }}', copyNotification: false, copyToClipboard() { navigator.clipboard.writeText(this.copyText); this.copyNotification = true; let that = this; setTimeout(function(){ that.copyNotification = false; }, 3000); } }"
            class="relative flex items-center">
           <button @click="copyToClipboard();"
                   class="flex items-center justify-center w-auto h-6 px-1 py-0.5 text-xs bg-white border rounded-md cursor-pointer border-gray-200 hover:bg-gray-100 active:bg-white focus:bg-white focus:outline-none text-gray-500 hover:text-gray-600 group">
               <svg x-show="!copyNotification"
                    class="w-4 h-4 stroke-current"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
               </svg>
               <svg x-show="copyNotification"
                    class="w-4 h-4 text-green-500 stroke-current"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    x-cloak>
                   <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75" />
               </svg>
           </button>
       </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
  <div class="mt-8 pb-8 max-w-3xl">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Danger Zone</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Permanently delete your account here - this cannot be undone.</p>

    <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-8">
      <div class=" flex items-center justify-start gap-x-6">
        <button type="submit" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white transition-colors border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-red-700-900 focus:ring-offset-2 bg-red-600 hover:bg-red-700">
          Permanently Delete My Account
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}